.zjw-icon {
  --zjw-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--zjw-icon-color);
  font-size: inherit;
}

@each $val in primary,info,success,warning,danger {
  .zjw-icon--$(val) {
    --zjw-icon-color: var(--zjw-color-$(val));
  }
}